@font-face {
  font-family: '#{$prefix-font-name}';
  src: url('#{$prefix-font-path}/#{$prefix-filename}.eot?v=#{$prefix-version}');
  src: url('#{$prefix-font-path}/#{$prefix-filename}.eot?#iefix&v=#{$prefix-version}') format('embedded-opentype'),
    url('#{$prefix-font-path}/#{$prefix-filename}.woff2?v=#{$prefix-version}') format('woff2'),
    url('#{$prefix-font-path}/#{$prefix-filename}.woff?v=#{$prefix-version}') format('woff'),
    url('#{$prefix-font-path}/#{$prefix-filename}.ttf?v=#{$prefix-version}') format('truetype');
  font-weight: normal;
  font-style: normal;
}
